# Certificate and CA folders
zillowscrape/zillow_detailed_listings_next_data.json
zillowscrape/zillow_detailed_listings_next_data.json.sample
zillowscrape/zillow_detailed_listings_parsed.json
zillowscrape/zillow_detailed_listings_playwright.json
zillowscrape/zillow_detailed_listings.csv
zillowscrape/brightdata_proxy_ca/
zillowscrape/brightdata_proxy_ca unlocker.zip
zillowscrape/ca_browser.crt
zillowscrape/ca.crt
zillowscrape/ca_mcp_unlocker.crt
zillowscrape/cli.html
zillowscrape/zillow_listing_urls.csv
zillowscrape/page_1_content.html
zillowscrape/page_2_content.html
zillowscrape/README.md
zillowscrape/listing_page.html
zillowscrape/venv/
zillowscrape/zillow_listing_urls.csv 
zillowscrape/zillow_scraper_details.py
zillowscrape/zillow_scraper_playwright.py
zillowscrape/zillow_scraper.py
zillowscrape/.gemini/
zillowscrape/.github/
zillowscrape/.vscode/
demo/ca_browser.crt
demo/ca_mcp_unlocker.crt
demo/ca.crt
demo/.gemini/
demo/.github/
demo/.vscode/
demo/ca_browser.crt
demo/ca_mcp_unlocker.crt
demo/ca.crt
.vscode/
__pycache__/
*.pyc
